/* responsive */
@media only screen and (max-width: 992px) {
  .tech-wave-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech-wave-items .item1 {
    grid-row: 1 span;
  }
  .tech-wave-items .item2 {
    grid-column: 1 span;
  }
  .tech-wave-items .item3 {
    grid-column: 1 span;
  }
  .tech-wave-items .item4 {
    grid-column: 1 span;
  }
  .feature-episode {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-episode .collapse {
    grid-column: 2 span;
  }
}
@media only screen and (max-width: 850px) {
  .feature-episode {
    grid-template-columns: 1fr;
  }
  .feature-episode .collapse {
    grid-column: 1 span;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .navbar-nav {
    position: absolute;
    left: 55%;
    transform: translateX(-55%);
  }
  .podcast-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .navbar .collapse {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
  .tech-wave-items {
    grid-template-columns: 1fr;
  }
  footer ul {
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .meet-host-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 390px) {
  .banner-img span {
    right: 30px;
    top: 20px;
  }
  .podcast-info {
    gap: 40px;
  }
}
@media only screen and (max-width: 379px) {
  .banner .btn2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
