/* responsive */
@media only screen and (max-width: 992px) {
  .tech-wave-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech-wave-items .item1 {
    grid-row: 1 span;
  }
  .tech-wave-items .item2 {
    grid-column: 1 span;
  }
  .tech-wave-items .item3 {
    grid-column: 1 span;
  }
  .tech-wave-items .item4 {
    grid-column: 1 span;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .navbar-nav {
    position: absolute;
    left: 55%;
    transform: translateX(-55%);
  }
  .podcast-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .navbar .collapse {
    display: none;
  }
  .navbar .hamburger {
    display: block;
  }
  .tech-wave-items {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 390px) {
  .banner-img span {
    right: 30px;
    top: 20px;
  }
  .podcast-info {
    gap: 40px;
  }
}
