/* google-font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* reset-style */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* shared-style */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
:root {
  /* color */
  --white: #ffffff;
  --light-green: #00ff88;
  --dark-gray: #1a0b2e;
  --light-gray-40: rgba(53, 17, 101, 0.4);

  /* font-size */
  --fs-16: 1rem;
  --fs-48: 2.88rem;
  --fs-24: 1.44rem;

  /* font-weight */
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-medium: 500;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.btn-primary {
  padding: 10px 40px 10px 16px;
  border: none;
  border-radius: 9999px;
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-semibold);
  line-height: auto;
  cursor: pointer;
}

/* header-section */
header {
  background-color: var(--dark-gray);
  border-bottom: 1px solid #412567;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
  position: relative;
}
.navbar .navbar-nav {
  align-items: center;
  gap: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10px;
  transition: 0.2s ease;
}
.navbar .nav-link {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: 120%;
}
.navbar .subscribe {
  background:
    url("../assets/Vector.png"),
    linear-gradient(190deg, #9100f8, #fb09b4 40%, #f7e93f 90%);
  background-repeat: no-repeat;
  background-position: 90% center;
}
.navbar .hamburger {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.navbar .hamburger img {
  width: 100%;
}

/* banner-section */
.banner {
  padding: 101px 0;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.banner .banner-content {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
.banner .banner-img {
  max-width: 350px;
  height: 350px;
  margin: 0 auto;
  background-image: url("../assets/hero-circle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}
.banner .banner-img img {
  animation-name: animated;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.banner-img span {
  background-color: #00ff88;
  border-radius: 1000px;
  padding: 8px 16px;
  color: var(--dark-gray);
  font-size: 1.08rem;
  font-weight: var(--fw-semibold);
  line-height: auto;
  position: absolute;
  right: 20px;
  top: 10px;
}
.banner h2 {
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 800;
  line-height: auto;
  margin-bottom: 8px;
}
.banner p {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: auto;
  margin-bottom: 24px;
}
.banner .btn-group {
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.banner .btn1 {
  background:
    url("../assets/spotify.png"),
    linear-gradient(190deg, #9100f8, #fb09b4 40%, #f7e93f 90%);
  background-repeat: no-repeat;
  background-position: 8% center;
  padding-left: 48px;
  padding-right: 20px;
}
.banner .btn2 {
  background-color: transparent;
  border: 1px solid #00ff88;
  padding-left: 42px;
  padding-right: 12px;
  background-image: url("../assets/message.png");
  background-repeat: no-repeat;
  background-position: 12% center;
}

/* podcast-section */
.podcast {
  padding-top: 50px;
  padding-bottom: 120px;
  background-color: var(--dark-gray);
}
.podcast-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.podcast-content .podcast-title {
  color: var(--white);
  font-size: var(--fs-48);
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 16px;
}
.podcast-content .podcast-text {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 20px;
  margin-bottom: 80px;
}
.podcast-info {
  margin-top: 80px;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-items: center;
}
.podcast-info h2 {
  color: var(--light-green);
  font-size: var(--fs-48);
  font-weight: 900;
  line-height: auto;
  margin-bottom: 16px;
}
.podcast-info span {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 20px;
}
.podcast-info .info {
  text-align: center;
}

/* tech-wave-section */
.tech-wave {
  background-color: #230e3d;
  padding: 120px 0;
}
.tech-wave-container h2 {
  color: var(--white);
  font-size: var(--fs-48);
  font-weight: var(--fw-bold);
  line-height: auto;
  text-align: center;
}
.tech-wave-items {
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.tech-wave-items .item {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.tech-wave-items h3 {
  color: var(--white);
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  line-height: auto;
  margin: 16px 0;
}
.tech-wave-items p {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
}
.tech-wave-items .item1 {
  grid-row: 2 span;
  align-items: center;
}
.tech-wave-items .item2 {
  grid-column: 2 span;
}
.tech-wave-items .item3 {
  grid-column: 2 span;
}
.tech-wave-items .item4 {
  grid-column: 2 span;
}

/* feature-section  */
.feature {
  padding: 120px 0;
  background-color: var(--dark-gray);
}
.feature h2 {
  color: var(--white);
  font-size: var(--fs-48);
  font-weight: var(--fw-bold);
  line-height: auto;
  text-align: center;
  margin-bottom: 40px;
}
.feature-episode {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
  margin-bottom: 120px;
}
.feature-episode .episode {
  max-width: 380px;
}
.feature-episode iframe {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.feature-episode .episode-info {
  background-color: #250d44;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.feature-episode .episode-info {
  padding: 24px;
}
.episode-info h3 {
  color: var(--white);
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 12px;
}
.episode-info p {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
  margin-bottom: 12px;
}
.episode-info .episode-time {
  align-items: center;
  gap: 8px;
}
.episode-time h6 {
  color: var(--light-green);
  font-size: var(--fs-16);
  font-weight: var(--fw-semibold);
  line-height: 24px;
}
.meet-host-container {
  padding: 40px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  gap: 24px;
  align-items: center;
}
.meet-content h3 {
  color: var(--white);
  font-size: 1.92rem;
  font-weight: var(--fw-bold);
  line-height: auto;
  margin-bottom: 16px;
}
.meet-content p {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
  margin-bottom: 16px;
}
.meet-content ul {
  align-items: center;
  gap: 12px;
}

/* footer-section */
footer {
  padding: 120px 0;
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
footer ul {
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  justify-items: center;
  gap: 40px;
  margin-bottom: 32px;
}
footer img:not(.foot-item img) {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}
.foot-item {
  gap: 8px;
}
.foot-item p {
  color: var(--white);
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  line-height: auto;
}
footer span {
  color: #fafafa;
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 24px;
  display: block;
  text-align: center;
}

/* hover-section */
.navbar .subscribe:hover {
  background:
    url("../assets/Vector.png"),
    linear-gradient(380deg, #9100f8, #fb09b4 40%, #f7e93f 90%);
  background-repeat: no-repeat;
  background-position: 90% center;
}
.banner .btn1:hover {
  background:
    url("../assets/spotify.png"),
    linear-gradient(380deg, #9100f8, #fb09b4 40%, #f7e93f 90%);
  background-repeat: no-repeat;
  background-position: 8% center;
}

/* Animation */
@keyframes animated {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
